{% load static %}
<!DOCTYPE html> 
<head>
    <title>Educação PMNF - Bem-vindo</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="description" content="Intranet da Prefeitura Municipal de Nova Friburgo">
    <meta name="author" content="eduardo salarini">    
    <link rel="shortcut icon" href="{% static '/favicon.ico' %}"> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">
    
    <!-- FontAwesome JS-->
    <script defer src="{% static '/css/fontawesome.min.css' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- App CSS -->  
    <link id="theme-style" rel="stylesheet" href="{% static '/css/template-educacao.css' %}">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
	</style>
</head> 

<body class="app">   
	
	<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top" style="background-color: #ffc107 !important; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);">
		<div class="container-fluid" style="margin: 0 20px 0;">
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarNavDropdown" style="display: flex; justify-content: space-between;">
				<a class="navbar-brand" href="/">
					<img class="logo-icon me-2" src="{% static '/brasao.ico' %}" alt="logo" style="width: 40px;">
				</a>
				<ul class="navbar-nav gap-2">
					<li class="nav-item">
						<a class="nav-link btn-menutop active" aria-current="page" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle btn-menutop active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						  Turmas
						</a>
						<ul class="dropdown-menu" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);border-radius: 0.5rem;">
							<li>
								<a class="dropdown-item" href="#">
									Adicionar Turma
								</a>
							</li>				  
					  
							{% for nivel_ensino in niveis_ensino %}
							<li class="dropdown-submenu">
								<a class="dropdown-item dropdown-toggle" href="#">{{ nivel_ensino.nivel.nome }}</a>
								<ul class="dropdown-menu">
									{% if nivel_ensino.turmas|length == 0 %}
									<li>
										<span class="dropdown-item disabled">Nenhuma turma cadastrada</span>
									</li>
									{% else %}
									{% for turma in nivel_ensino.turmas %}
									<li>
										<a class="dropdown-item" href="{% url 'educacao:turma' turma.id %}">{{ turma }}</a>
									</li>
									{% endfor %}
									{% endif %}
								</ul>
							</li>
							
							{% endfor %}
						</ul>
					  </li>
					  
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle btn-menutop active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Avaliações
						</a>
						<ul class="dropdown-menu" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);border-radius: 0.5rem;">
							<li class="submenu-item">
								<li>
									<a class="dropdown-item" href="{% url 'educacao:avaliacoes_create' %}">
										Adicionar Avaliação
									</a>
								</li>
								{% for nivel_ensino in niveis_ensino %}
								{% if pessoa.is_administrador or pessoa.is_assistente_administrativo %}
								{% endif %}
								<li>
									<a class="dropdown-item" href="{% url 'educacao:avaliacoes_list_educacao' nivel_ensino.nivel.id  %}">
										{{nivel_ensino.nivel.nome}}
									</a>
								</li>
							</li>					        
							{% endfor %}	
						</ul>
					</li>

					{% if pessoa.is_administrador or pessoa.is_assistente_administrativo %}
					<li class="nav-item">
						<a class="nav-link btn-menutop active" href="{% url 'educacao:escolas_list' %}">Escolas</a>
					</li>
					{% endif %}

					{% if pessoa.is_administrador or pessoa.is_assistente_administrativo %}
					<li class="nav-item">
						<a class="nav-link btn-menutop active" href="{% url 'educacao:nivel_ensino_list' %}">Níveis Ensino</a>
					</li>
					{% endif %}

					{% if pessoa.is_administrador or pessoa.is_assistente_administrativo %}
					<li class="nav-item">
						<a class="nav-link btn-menutop active" href="{% url 'educacao:tipo_avaliacoes_list' %}">Tipo Avaliação</a>
					</li>
					{% endif %}

					{% if pessoa.is_administrador or pessoa.is_assistente_administrativo %}
					<li class="nav-item">
						<a class="nav-link btn-menutop active" href="{% url 'autenticacao:usuarios' %}">Usuários</a>
					</li>
					{% endif %}
					
				</ul>
				<div>
					<a href="{% url 'autenticacao:painel_administrativo' %}" class="btn btn-dark btn-sm"><i class="fa-solid fa-gear"></i></a>
					<a href="/logout" class="btn btn-dark btn-sm"><i class="fa-solid fa-right-from-bracket"></i></a>
				</div>
		  	</div>
		</div>
	</nav>
    

    
    <div class="app-wrapper">
        
        <div class="app-content pt-3 p-md-3 p-lg-4">
            <div class="container-xl" >
                
                {% block content %}{% endblock %}

            </div> 
	    </div>
	    
	    <footer class="app-footer w-100">
		    <div class="container text-center py-3">	         
            <small class="copyright">© Subsecretaria de Tecnologia da Informação e Comunicação - 2024</small>			
		    </div>
	    </footer>
	    
    </div> 					

 
    <!-- Javascript -->          
    <script src="{% static '/plugins/popper.min.js' %}"></script>
    <script src="{% static '/plugins/bootstrap/js/bootstrap.min.js' %}"></script>  
    <script src="{% static '/js/app.js' %}"></script> 
	<script src="{% static '/js/notifications.js' %}"></script>

	<script>
		function hiddenMenu(){
			var sidepanel = document.getElementById('app-sidepanel');
			if (sidepanel.style.left == '-250px') {
				sidepanel.style.left = '0px';
				document.querySelector('.app-wrapper').style.marginLeft = '250px';
				document.querySelector('.app-header-inner').style.marginLeft = '250px';
				document.querySelector('#mButton').innerHTML = '<i class="fa-solid fa-angle-left"></i>';
				
			} else {
				sidepanel.style.left = '-250px';
				document.querySelector('.app-wrapper').style.marginLeft = '0px';
				document.querySelector('.app-header-inner').style.marginLeft = '0px';
				document.querySelector('#mButton').innerHTML = '<i class="fa-solid fa-angle-right"></i>';
			}						

		};
		window.onload = function() {
			var preloader = document.getElementById('preloader');
			preloader.style.display = 'none';
		};
	</script>
</body>
</html> 

