{% extends "template.html" %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}


<div class="row mb-4 rounded-4 shadow-sm bg-white px-4 py-4">
    <h2 class="mb-4">Confirmar Exclusão</h2>
    <p>Tem certeza de que deseja excluir o nível de ensino "{{ nivel.nome }}"?</p>
    <form method="post" class="mt-2">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger text-white">Excluir</button>
        <a href="{% url 'educacao:nivel_ensino_list' %}" class="btn btn-secondary">Voltar</a>
    </form>
</div>
{% endblock %}
