{% extends "template.html" %}

{% block title %}Formulário de Nível de Ensino{% endblock %}

{% block content %}

<div class="row">
    <div class="col d-flex mb-4 rounded-4 shadow-sm" style="background-color: white;">
        <h2 class="m-0 py-3 px-2">Formulário de Nível de Ensino</h2>
    </div>
</div>

<form method="post" class="row d-flex mb-4 rounded-4 bg-white px-2 py-3 shadow-sm">
    {% csrf_token %}
    {{ form.as_p }}
    
    <div class="col d-flex justify-content-start gap-2 mt-2">    
        <button type="submit" class="btn btn-success text-white">Salvar</button>
        <a href="{% url 'educacao:nivel_ensino_list' %}" class="btn btn-secondary">Voltar</a>
    </div>
</form>
{% endblock %}
