{% extends 'template.html' %}
{% load static %}

{% block content %}
    <h2 class="mb-4 rounded-4 shadow-sm bg-white px-4 py-3">Listagem de Avaliações</h2>

    <div class="turma-card-container row-grid">
        {% if avaliacoes.count == 0 %}
            <div class="turma-card text-center rounded-4 shadow-sm bg-white px-4 py-2">
                <p>Nenhuma avaliação encontrada!</p>
            </div>
        {% endif %}
        {% if avaliacoes.count > 0 %}
        {% for avaliacao in avaliacoes %}
            <div class="turma-card mb-4 rounded-4 shadow-sm bg-white px-4 py-3">
                <div class="turma-card-content">
                    <h3>{{ avaliacao.tipo_avaliacao.nome }}</h3>
                    <p><strong>Ano:</strong> {{ avaliacao.ano }}</p>
                    <p><strong>Semestre:</strong> {{ avaliacao.semestre }}</p>
                    <p><strong>Nível de Ensino:</strong> {{ avaliacao.nivel_ensino.nome }}</p>
                </div>
                <div class="d-flex h-100 justify-content-center align-items-center gap-2" style="flex-direction: column;">
                    <a class="btn btn-primary btn-sm min-content" style="width: max-content;" target="_blank" href="{{avaliacao.tipo_avaliacao.arquivo.url}}"><i class="fa-solid fa-download text-white"></i></a>
                    <a href="{% url 'educacao:avaliacoes_update' avaliacao.id %}"  style="width: max-content;"  class="btn btn-warning btn-sm"><i class="fa-solid fa-pen-to-square text-white"></i></a>
                    <a href="{% url 'educacao:avaliacoes_delete' avaliacao.id %}"  style="width: max-content;"  class="btn btn-danger btn-sm"><i class="fa-solid fa-trash-can fa-lg text-white"></i></a>
                </div>
            </div>
        {% endfor %}
        {% endif %}
    </div>
{% endblock %}