<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diretor</title>
</head>
<body>
    <h2>eis aqui um diretor!</h2>

    {% for diretor in diretores %}
        <p>{{ diretor }}</p>
        <a href="{% url 'autenticacao:diretor_editar' diretor.id %}">Editar</a>
        <a href="{% url 'autenticacao:diretor_deletar' diretor.id %}">Deletar</a>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <a href="{% url 'autenticacao:diretor_adicionar' %}">Adicionar diretor</a>
    <br>
    <a href="{% url "autenticacao:painel_administrativo" %}">voltar</a>

</body>
</html>