{% extends "adm/template.html" %}

{% block title %}Painel Administrativo{% endblock %}

{% block content %}
<h2 class="mb-4">Painel Administrativo</h2>
<p>Bem-vindo ao painel administrativo!</p>
<a href="{% url 'autenticacao:usuarios' %}" class="btn btn-primary">Gerenciar Usuários</a>
<a href="{% url 'educacao:tipo_avaliacoes_list' %}" class="btn btn-secondary">Gerenciar Tipos de Avaliações</a>
<a href="{% url 'educacao:escolas_list' %}" class="btn btn-success">Gerenciar Escolas</a>
<a href="{% url 'educacao:nivel_ensino_list' %}" class="btn btn-info">Gerenciar Níveis de Ensino</a>
<a href="{% url 'educacao:avaliacoes_list' %}" class="btn btn-warning">Gerenciar Avaliações</a>
<a href="{% url 'educacao:turmas_list' %}" class="btn btn-dark">Gerenciar Turmas</a>

{% endblock %}