{% extends "template.html" %}

{% block title %}Performace de Aluno{% endblock %}

{% block content %}

<div class="row mb-4 rounded-4 shadow-sm" style="background-color: white;">
    <div class="col d-flex py-3 px-4">
        <h2 class="my-auto">Aluno: {{ observacao.aluno.nome }}</h2>
    </div>
</div>
<div class="row rounded-4 shadow-sm" style="background-color: white;">
    <div class="col pt-4 pb-3 px-4">
        <h5>Observações:</h5>
        <p>Tipo da Observação: {{ observacao.get_tipo_display }}</p>
        <p class="mb-4">Descrição: {{ observacao.descricao }}</p>

        <h5>Desempenho do Aluno:</h5>
        {% if resultado.tipo_avaliacao1 %}
            <p>Status da avaliação 01 {{resultado.tipo_avaliacao1}}: {{resultado.avaliacao1}} ({{ resultado.get_status_avaliacao1_display}})</p>
        {% else %}
            <p>Status da avaliação 01: Não Avaliado</p>
        {% endif %}
        {% if resultado.tipo_avaliacao2 %}
            <p>Status da avaliação 02 {{resultado.tipo_avaliacao2}}: {{resultado.avaliacao2}} ({{ resultado.get_status_avaliacao2_display}})</p>
        {% else %}
            <p>Status da avaliação 02: Não Avaliado</p>
        {% endif %}
        {% if resultado.tipo_avaliacao3 %}
            <p>Status da avaliação 03 {{resultado.tipo_avaliacao3}}: {{resultado.avaliacao3}} ({{ resultado.get_status_avaliacao3_display}})</p>
        {% else %}
            <p>Status da avaliação 03: Não Avaliado</p>
        {% endif %}
        {% if resultado.tipo_avaliacao4 %}
            <p>Status da avaliação 04 {{resultado.tipo_avaliacao4}}: {{resultado.avaliacao4}} ({{ resultado.get_status_avaliacao4_display}})</p>
        {% else %}
            <p>Status da avaliação 04: Não Avaliado</p>
        {% endif %}
        


        <p>Média das Avaliações: {{ resultado.media_final|default:'0' }}</p>


        <div class="mb-5">
            <canvas id="graficoNotas" style="max-width: 100%; max-height: 230px;"></canvas>
        </div>
    
        <a href="{% url 'educacao:turma' turma.id %}" class="btn btn-secondary">Voltar</a>
    </div>
</div>

<script id="resultado-json" type="application/json">
    {
        "avaliacao1": "{{ resultado.avaliacao1|default:'0' }}",
        "avaliacao2": "{{ resultado.avaliacao2|default:'0' }}",
        "avaliacao3": "{{ resultado.avaliacao3|default:'0' }}",
        "avaliacao4": "{{ resultado.avaliacao4|default:'0' }}"
    }
</script>
    

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const resultado = JSON.parse(document.getElementById('resultado-json').textContent);
    const dataNotas = [
        parseFloat(resultado.avaliacao1),
        parseFloat(resultado.avaliacao2),
        parseFloat(resultado.avaliacao3),
        parseFloat(resultado.avaliacao4)
    ];

    const ctx = document.getElementById('graficoNotas').getContext('2d');

    const grafico = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Avaliação 1', 'Avaliação 2', 'Avaliação 3', 'Avaliação 4'],
            datasets: [{
                label: 'Notas do Aluno',
                data: dataNotas,
                backgroundColor: 'rgba(0, 51, 102, 0.3)',
                borderColor: 'rgba(0, 51, 102, 1)',
                borderWidth: 2,
                fill: true,
                tension: 0.1
            }]
        },
        options: {
            scales: {
                y: {
                    suggestedMin: 0,
                    suggestedMax: 10,
                }
            }
        }
    });

</script>


{% endblock %}
    