{% extends "template.html" %}

{% block title %}Lista de Alunos{% endblock %}

{% block content %}

<div class="row mb-4 rounded-4 shadow-sm" style="background-color: white;">
    <div class="col d-flex py-3 px-4">
        <h2 class="my-auto">Turma {{ turma.nome }}</h2>
        {% if not pessoa.is_professor %}
        <a href="{% url 'educacao:turmas_update' turma.id %}" class="btn btn-info px-3 py-2 ms-auto my-auto">
            <i class="fa-solid fa-pen-to-square text-white"></i>
        </a>        
        {% endif %}
    </div>
</div>
<div class="row rounded-4 mb-4 shadow-sm" style="background-color: white;">
    <div class="col py-3 px-4">
        Detalhes da turma, observações e etc.
    </div>
</div>
<div class="row rounded-4 shadow-sm" style="background-color: white;">
    <div class="col pt-4 pb-3 px-4">
        <div class="w-100 d-flex">
            <h4 class="mb-3">Lista de Alunos</h4>
            {% if not pessoa.is_professor %}
            <a href="{% url 'educacao:alunos_create' turma.id %}" class="ms-auto btn btn-primary my-auto">
                <i class="fa-solid fa-plus me-2  text-white"></i><i class="fa-solid fa-graduation-cap  text-white"></i>
            </a>
            {% endif %}
        </div>
        <table class="table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody>
                {% if alunos.count == 0 %}
                <tr>
                    <td colspan="2" class="text-center">Nenhum aluno cadastrado.</td>
                </tr>
                {% endif %}
                {% if alunos.count > 0 %}
                {% for aluno in alunos %}
                <tr style="cursor: pointer;">
                    <td class="align-middle">{{ aluno.nome }}</td>
                    <td style="width: 30px;">
                    {% if not pessoa.is_professor %}
                        <a href="{% url 'educacao:alunos_delete' turma.id aluno.id %}" class="btn btn-danger px-3 py-2">
                            <i class="fa-solid fa-trash-can fa-lg text-white"></i>
                        </a>
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        
        
    </div>
</div>
    {% endblock %}
    