{% extends "template.html" %}

{% block title %}Lista de Alunos{% endblock %}

{% block content %}

<div class="row mb-4 rounded-4 shadow-sm" style="background-color: white;">
    <div class="col d-flex py-3 px-4">
        <h2 class="my-auto">Turma {{ turma.nome }}</h2>
        {% if not pessoa.is_professor %}
        <a href="{% url 'educacao:turmas_update' turma.id %}" class="btn btn-info px-3 py-2 ms-auto my-auto">
            <i class="fa-solid fa-pen-to-square text-white"></i>
        </a>        
        {% endif %}
    </div>
</div>
<div class="row rounded-4 mb-4 shadow-sm" style="background-color: white;">
    <div class="col py-3 px-4">
        Detalhes da turma, observações e etc.
    </div>
</div>
<div class="row rounded-4 shadow-sm" style="background-color: white;">
    <div class="col pt-4 pb-3 px-4">
        <div class="w-100 d-flex">
            <h4 class="mb-3">Lista de Alunos</h4>
            <a href="{% url 'educacao:alunos_create' turma.id %}" class="ms-auto btn btn-primary my-auto">
                <i class="fa-solid fa-plus me-2  text-white"></i><i class="fa-solid fa-graduation-cap  text-white"></i>
            </a>
        </div>
        <table class="table table-borderless table-striped table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Avaliação 1</th>
                    <th>Avaliação 2</th>
                    <th>Avaliação 3</th>
                    <th>Avaliação 4</th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody>
                {% if resultado_avaliacoes.count == 0 %}
                <tr>
                    <td colspan="5" class="text-center">Nenhum aluno cadastrado.</td>
                </tr>
                {% endif %}
                {% if resultado_avaliacoes.count > 0 %}
                {% for resultado in resultado_avaliacoes %}
                <tr style="cursor: pointer;" onclick="detalhes('{{ resultado.aluno_turma.aluno.id }}')">
                    <td class="align-middle">{{ resultado.aluno_turma.aluno.nome }}</td>
                    <td class="align-middle">{{ resultado.avaliacao1 }}</td>
                    <td class="align-middle">{{ resultado.avaliacao2 }}</td>
                    <td class="align-middle">{{ resultado.avaliacao3 }}</td>
                    <td class="align-middle">{{ resultado.avaliacao4 }}</td>

                    <td style="width: 30px;">
                        <div class="d-flex gap-2">
                            <a href="{% url 'educacao:alunos_detalhe' turma.id resultado.aluno_turma.aluno.id %}" class="btn btn-info px-3 py-2">
                                <i class="fa-solid fa-chart-simple text-white"></i>
                            </a>
                            <a href="{% url 'educacao:alunos_update' turma.id resultado.aluno_turma.aluno.id %}" class="btn btn-warning px-3 py-2">
                                <i class="fa-solid fa-pen-to-square text-white"></i>
                            </a>
                            {% if not pessoa.is_professor %}
                            <a href="{% url 'educacao:alunos_delete' turma.id resultado.aluno_turma.aluno.id %}" class="btn btn-danger px-3 py-2">
                                <i class="fa-solid fa-trash-can fa-lg text-white"></i>
                            </a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
        
        
    </div>
</div>

<script>
    function detalhes(aluno_id) {
        const turma_id = "{{ turma.id }}";
        const url = `/turmas/${turma_id}/alunos/${aluno_id}/`;
        window.location.href = url;
    }

</script>
{% endblock %}
    