{% extends 'template.html' %}
{% load static %}

{% block content %}
    <h2 class="mb-4">Listagem de Avaliações</h2>

    <div class="turma-card-container">
        {% for avaliacao in avaliacoes %}
            <a href="{% url 'educacao:avaliacoes_list' %}" class="turma-card">
                <div class="turma-card-content">
                    <h3>{{ avaliacao.tipo_avaliacao.nome }}</h3>
                    <p><strong>Ano:</strong> {{ avaliacao.ano }}</p>
                    <p><strong>Semestre:</strong> {{ avaliacao.semestre.nome }}</p>
                    <p><strong>Nível de Ensino:</strong> {{ avaliacao.nivel_ensino.nome }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}