{% extends "adm/template.html" %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<h2 class="mb-4">Confirmar Exclusão</h2>
<p>Tem certeza de que deseja excluir a escola "{{ escola.nome }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Excluir</button>
    <a href="{% url 'educacao:escolas_list' %}" class="btn btn-secondary">Cancelar</a>
    <a href="{% url 'educacao:escolas_list' %}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}
